<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="win64test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IAMEntities" connectionString="metadata=res://*/IAMEntities.csdl|res://*/IAMEntities.ssdl|res://*/IAMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IAM;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!--Oracle 数据库配置  Start-->
    <add key="Host" value="10.104.20.81"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="test"/>
    <add key="UserId" value="20131014"/>
    <add key="Password" value="1"/>
    <!--Oracle 数据库配置  End-->

  </appSettings>
  <applicationSettings>
    <win64test.Properties.Settings>
      <setting name="win64test_WebReference_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/user/cux_user_ws_query.svc</value>
      </setting>
    </win64test.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
