<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IAM2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="IAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4080">
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxQueryStringLength="102400" requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    
    <add name="IAMEntities" connectionString="metadata=res://*/IAMEntities.csdl|res://*/IAMEntities.ssdl|res://*/IAMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.124.87.172;initial catalog=IAM;persist security info=True;user id=sa;password=Iam12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="IAMEntities" connectionString="metadata=res://*/IAMEntities.csdl|res://*/IAMEntities.ssdl|res://*/IAMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IAM;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="comString" connectionString="data source=.;initial catalog=IAM;persist security info=True;user id=sa;password=123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Oracle 数据库配置  Start-->
    <!--<add key="Host" value="10.124.88.232" />
    <add key="Port" value="1521" />
    <add key="ServiceName" value="test" />
    <add key="UserId" value="20131014" />
    <add key="Password" value="1" />-->
    <!--IP地址-->
    <add key="Host" value="10.124.88.247" />
    <!--端口-->
    <add key="Port" value="1521" />
    <!--数据库名-->
    <add key="ServiceName" value="EHR" />
    <!--用户名-->
    <add key="UserId" value="IAM" />
    <!--密码-->
    <add key="Password" value="Iam140603" />
    <!--Oracle 数据库配置  End-->
    <!--Sap 域认证 用户配置 Start-->
    <add key="sapUserAD4" value="C_iam" />
    <add key="sapUserPassword" value="" />
    <!--Sap 域认在 用户配置 End-->
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="5257;True;19656;1;-8587997404777009047" />
    <!--同步任务开关-->
    <add key="synchr" value="1" />
    <add key="synchec" value="1" />
    <add key="syncsap" value="1" />
    <add key="syncad" value="1" />
    <add key="synctc" value="1" />
    <add key="synccomputer" value="1" />
    <!--是否第一次同步-->
    <add key="isFirstSync" value="0" />
    <!--统一消息平台授权id-->
    <add key="mailAurthID" value="0040409d-90d7-4a27-90d9-436ec13fc4fb" />
  </appSettings>
  <!--<assemblies>
    <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </assemblies>-->
  <system.serviceModel>
    <client />
  </system.serviceModel>
  <applicationSettings>
    <IAM2.Properties.Settings>
      <setting name="IAM_WebReference_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/role/cux_role_ws_query.svc</value>
      </setting>
      <setting name="IAM_WebReference1_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/company/cux_company_ws_query.svc</value>
      </setting>
      <setting name="IAM_WebReference2_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/user/cux_user_ws_query.svc</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserList_ZIAM_GET_SAP_USER_LISTService" serializeAs="String">
        <value>http://10.124.88.229:8000/sap/bc/srt/rfc/sap/ziam_get_sap_user_list/800/ziam_get_sap_user_list/ziam_get_sap_user_list</value>
      </setting>
      <setting name="IAM_WebReferenceSapRoleList_ZIAM_GET_ROLES_LISTService" serializeAs="String">
        <value>http://10.124.88.229:8000/sap/bc/srt/rfc/sap/ziam_get_roles_list/800/ziam_get_roles_list/ziam_get_roles_list</value>
      </setting>
      <setting name="IAM_WebReferenceTC_MyWESService" serializeAs="String">
        <value>http://10.124.88.149:8989/axis2/services/MyWESService.MyWESServiceHttpSoap11Endpoint</value>
      </setting>
      <setting name="IAM_WebReferenceNewTC_MyTCservice1234" serializeAs="String">
        <value>http://10.124.88.149:8989/axis2/services/MyTCservice1234.MyTCservice1234HttpSoap11Endpoint/</value>
      </setting>
      <setting name="IAM_WebReferenceTCNew_Shactcservice" serializeAs="String">
        <value>http://10.124.88.155:8080/axis2/services/Shactcservice.ShactcserviceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserInfo_ZIAM_READ_SAP_USER_INFOMATIONService" serializeAs="String">
        <value>http://10.91.234.28:8006/sap/bc/srt/rfc/sap/ziam_read_sap_user_infomation/800/ziam_read_sap_user_infomation/ziam_read_sap_user_infomation</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserListNew_service" serializeAs="String">
        <value>http://10.91.234.28:8006/sap/bc/srt/rfc/sap/ziam_get_sap_user_list/600/ziam_get_sap_user_list/ziam_get_sap_user_list</value>
      </setting>
      <setting name="IAM_IAMSendMailServices_MessageWebService" serializeAs="String">
        <value>http://10.124.90.60:8002/MessageWebService.asmx</value>
      </setting>
      <setting name="IAM_WebReference3_Service1" serializeAs="String">
        <value>http://hzgs211dc.hzgs.shac.com.cn/adservice/ADService.asmx</value>
      </setting>
      <setting name="IAM_WebReferenceSapRoleNew_service" serializeAs="String">
        <value>http://10.91.234.29:8006/sap/bc/srt/rfc/sap/ziam_get_roles_list/600/ziam_get_roles_list/ziam_get_roles_list</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserListNew1_service" serializeAs="String">
        <value>http://10.91.234.29:8006/sap/bc/srt/rfc/sap/ziam_get_sap_user_list/600/ziam_get_sap_user_list/ziam_get_sap_user_list</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserInfoNew_service" serializeAs="String">
        <value>http://10.91.234.29:8006/sap/bc/srt/rfc/sap/ziam_read_sap_user_infomation/600/ziam_read_sap_user_infomation/ziam_read_sap_user_infomation</value>
      </setting>
      <setting name="IAM2_WebReference_HEC_bumen_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/unit/cux_unit_ws_query.svc</value>
      </setting>
      <setting name="IAM2_WebReference_HEC_Gangwei_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/position/cux_position_ws_query.svc</value>
      </setting>
      <setting name="IAM2_WebReference_HEC_UserGangwei_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/position/cux_employee_position_ws_query.svc</value>
      </setting>
    </IAM2.Properties.Settings>
    <IAM.Properties.Settings>
      <setting name="IAM_WebReference_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/role/cux_role_ws_query.svc</value>
      </setting>
      <setting name="IAM_WebReference1_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/company/cux_company_ws_query.svc</value>
      </setting>
      <setting name="IAM_WebReference2_auto_service" serializeAs="String">
        <value>http://10.124.88.176:8383/hecprod/modules/sys/WS/user/cux_user_ws_query.svc</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserList_ZIAM_GET_SAP_USER_LISTService" serializeAs="String">
        <value>http://10.124.88.229:8000/sap/bc/srt/rfc/sap/ziam_get_sap_user_list/800/ziam_get_sap_user_list/ziam_get_sap_user_list</value>
      </setting>
      <setting name="IAM_WebReferenceSapRoleList_ZIAM_GET_ROLES_LISTService" serializeAs="String">
        <value>http://10.124.88.229:8000/sap/bc/srt/rfc/sap/ziam_get_roles_list/800/ziam_get_roles_list/ziam_get_roles_list</value>
      </setting>
      <setting name="IAM_WebReferenceTC_MyWESService" serializeAs="String">
        <value>http://10.124.88.149:8989/axis2/services/MyWESService.MyWESServiceHttpSoap11Endpoint</value>
      </setting>
      <setting name="IAM_WebReferenceNewTC_MyTCservice1234" serializeAs="String">
        <value>http://10.124.88.149:8989/axis2/services/MyTCservice1234.MyTCservice1234HttpSoap11Endpoint/</value>
      </setting>
      <setting name="IAM_WebReferenceTCNew_Shactcservice" serializeAs="String">
        <value>http://10.124.88.155:7001/axis2/services/Shactcservice.ShactcserviceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserInfo_ZIAM_READ_SAP_USER_INFOMATIONService" serializeAs="String">
        <value>http://10.91.234.28:8006/sap/bc/srt/rfc/sap/ziam_read_sap_user_infomation/800/ziam_read_sap_user_infomation/ziam_read_sap_user_infomation</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserListNew_service" serializeAs="String">
        <value>http://10.91.234.28:8006/sap/bc/srt/rfc/sap/ziam_get_sap_user_list/600/ziam_get_sap_user_list/ziam_get_sap_user_list</value>
      </setting>
      <setting name="IAM_IAMSendMailServices_MessageWebService" serializeAs="String">
        <value>http://10.124.90.60:8002/MessageWebService.asmx</value>
      </setting>
      <setting name="IAM_WebReference3_Service1" serializeAs="String">
        <value>http://10.124.88.211/adservice/ADService.asmx</value>
      </setting>
      <setting name="IAM_WebReferenceSapRoleNew_service" serializeAs="String">
        <value>http://10.91.234.29:8006/sap/bc/srt/rfc/sap/ziam_get_roles_list/600/ziam_get_roles_list/ziam_get_roles_list</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserListNew1_service" serializeAs="String">
        <value>http://10.91.234.29:8006/sap/bc/srt/rfc/sap/ziam_get_sap_user_list/600/ziam_get_sap_user_list/ziam_get_sap_user_list</value>
      </setting>
      <setting name="IAM_WebReferenceSapUserInfoNew_service" serializeAs="String">
        <value>http://10.91.234.29:8006/sap/bc/srt/rfc/sap/ziam_read_sap_user_infomation/600/ziam_read_sap_user_infomation/ziam_read_sap_user_infomation</value>
      </setting>
    </IAM.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>