<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IAMEntities" connectionString="metadata=res://*/IAMEntities.csdl|res://*/IAMEntities.ssdl|res://*/IAMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IAM;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
