<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <appSettings>
    <add key="AcountName" value="http://172.24.145.15"/>
    <add key="Acount" value="xhb2009324@hotmail.com"/>
    <add key="PassWord" value="xhb19881109"/>
    <add key="Domian" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="iam" connectionString="Data Source=.;Initial CataLog=IAM;User ID=sa;Password=123;"/>
  </connectionStrings>
</configuration>
